.button{
    max-width: 600px;
    background-color: var(--green-800);
    border: 0;
    padding: 0.4rem;
    color: var(--dark-900);
    border-radius: 0.5rem;
    transition: filter 0.2s;

    //Quando loading for true... acessa essa animação
    &[disabled]{
        cursor: not-allowed;
        svg{
            animation: animate 2s infinite;
        }
    }

    &:hover{
        filter: brightness(1.10)
    }
}

.buttonText{
    color: var(--dark-900);
    font-weight: bold;
}

//Fazer animação da bolinha de login de girar 360 graus
@keyframes animate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

